@tailwind base;
@tailwind components;
@tailwind utilities;

/* Deshabilitar flechas de input tipo number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

select {
	height: 36px;
}

#calculadora {
	height: 100vh;
}
